<div class="footer">
 <%# <% unless user == other_user %> 
 
  <%# <% if current_user.following?(user) %>
    <%# <%= form_with url: relationship_path(following.id), method: :delete do |f| %>
      <%# <%= f.hidden_field :follow_id, :value => user %>
      <%# <%= f.submit '', class: 'button-real-dent fas fa-heart-broken' %>
    <%# <% end %>
  <%# <% else %> 
    <%= form_with url: relationships_path do |f| %>
      <%= f.hidden_field :follow_id, :value => user %>
      <%= f.button :type => "submit", class: 'button-real-dent' do %><i class="fas fa-heart"></i><% end %>
    <% end %>
  <%# <% end %> 
  <%# <% end %>
</div>