<div class="talk-home">
      <div class="header">
      <%= link_to homes_path do %><i class="fas fa-globe fa-3x" ></i> <% end %> <!-- マイページに遷移 -->
      <%= link_to user_talks_path(current_user.id) do %><i class="fas fa-comment fa-3x current-icon" ></i><% end %> <!-- トーク画面に遷移 -->
      <%= link_to  user_path(current_user.id) do %><i class="fas fa-user-md fa-3x" ></i><% end %> <!-- マイページに遷移 -->
  </div>
  </div>
  
  <div class="search">
  <input type="text" class="fas fa-search" placeholder="&#xf002; <%= @talk_users.size %>人のマッチ" style="font-family: Font Awesome 5 Free;">
</div>
<div class="talk-main-wrap">
  <div class="talk-main">
  <div class="item-message">
  <div class="messages-wrap">
  <p class="Messages">新しいマッチ</p>
</div>
  
  <% @talk_users.each do |talk| %>
  <div class="woman-image">
  <%= link_to image_tag("#{talk.image}"),'#', class:"man" %>
</div>
<% end %>
<div class="messages-wrap">
  <p class="messages">メッセージ</p>
</div>

<% @talk_users.each do |talk| %>
<div class="woman-image">
  <%= link_to image_tag("#{talk.image}"), user_talks_path(talk.id), method: :post, class:"woman" %>
  </div>
  <div class="messages-wrap">
  <%= link_to ("#{talk.nickname}"),user_talks_path(talk.id), method: :post, class:"name" %>
  <p class="messages-talk">こんにちわ！！</p>
</div>
<% end %>
</div>
  </div>
