<div class="back">
<%= link_to user_talks_path(current_user.id) do %><i class="fas fa-chevron-left back-button" ></i><% end %>
     <img src=<%= @talk_room_user.image %> class="talkPartner_img">
      <div class="talkPartner_name"><%= @talk_room_user.nickname %></div>
    </div>

<div class="talk" data-talk_room_id="<%= params[:id] %>" data-user_id="<%= current_user.id %>">
     <%= render @messages %>
     </div>


    <form class= "submit">
    <textarea id="submit-message" placeholder="メッセージを入力" data-behavior="room_speaker"></textarea>
        <input type="submit" class="send" value="送信" data-behavior="room_speaker">
  
        <input id="current_user_id" type="hidden" value= "<%=current_user.id%>">
        <input id="partner_id" type="hidden" value= "<%=@talk_room.id%>">
    </form>
    
