<div class="item-color">
      <div class="header">
       <%= link_to homes_path do %><i class="fas fa-globe fa-3x current-icon" ></i> <% end %> <!-- マイページに遷移 -->
      <%= link_to user_talks_path(current_user.id) do %><i class="fas fa-comment fa-3x" ></i><% end %> <!-- トーク画面に遷移 -->
      <%= link_to  user_path(current_user.id) do %><i class="fas fa-user-md fa-3x" ></i><% end %> <!-- マイページに遷移 -->
  </div>
  <div class="sub">
  <%  @others.each do |other|%>
  <%= link_to "#", class: "sub-main" do %>
  <img src=<%= other.image %> class="sub-image">  <% end %>
  <%end%>
  </div>
    <%= render "relationships/follow_button", { user: @user } %> 
  </div>
