<div class="item-color">
      <div class="header">
       <%= link_to homes_path do %><i class="fas fa-globe fa-3x current-icon" ></i> <% end %> <!-- マイページに遷移 -->
      <%= link_to user_talks_path(current_user.id) do %><i class="fas fa-comment fa-3x" ></i><% end %> <!-- トーク画面に遷移 -->
      <%= link_to  user_path(current_user.id) do %><i class="fas fa-user-md fa-3x" ></i><% end %> <!-- マイページに遷移 -->
     </div>
 

  <div id="tinderslide">
  <ul>
  <%  @others.each do |other|%>
  <li>
  <%= link_to "#", class: "sub-main" do %>
  <span><%= other.id %></span>
  <img src=<%= other.image %> class="sub-image">  <% end %>
<%# <div class="userName"><%= other.nickname %>
  <div class="dislike"></div>
  <div class="like"></div>
  </li>
  <% end %>
  </ul>
  <div class="noUser">近くにお相手がいません。</div>
  </div>
    <div class="actions" id="actionBtnArea">
    <a href="#" class="button-real-dent dislike"><i class="fas fa-heart-broken"></i></a> <!-- dislike -->
    <a href="#" class="button-real-dent like"><i class="fas fa-heart"></i></a> <!-- like -->
  </div>
</div>
  <script>
  const usersNum = "<%= @others.length %>"
  const convertUserNum = Number(usersNum)
  let currentUserIndex = 0;
  var postReaction = function (user_id, reaction) {
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
        }
    });
    $.ajax({
      type: "POST",
      url: "<%= reactions_path %>",
      data: {
        user_id: user_id,
        reaction: reaction,
      },
      success: function(j_data){
        console.log("success")
      }
    });
  }
  $("#tinderslide").jTinder({
    onDislike: function (item) {
      currentUserIndex++;
      checkUserNum();
      // var user_id = item[0].dataset.user_id
      var user_id = parseInt(item[0].innerText)
      postReaction(user_id, 'dislike')
    },
    onLike: function (item) {
      currentUserIndex++;
      checkUserNum();
      // var user_id = item[0].dataset.user_id
      var user_id = parseInt(item[0].innerText)
      postReaction(user_id, 'like')
    },
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
  });
  $('.actions .like, .actions .dislike').click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr('class'));
  });

  function checkUserNum() {
    if (currentUserIndex === convertUserNum){
      $(".noUser").addClass("is-active");
      $("#actionBtnArea").addClass("is-none")
      return;
    }
  }
</script>